<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>Game</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Game</h1><h2><a th:href="@{/logout}"><button class="btn btn-primary">Logout</button></a></h2>
            <div style="margin-bottom: 15px;">
                <input type="button" class="btn btn-danger" value="Give up!(Show number)" onclick="disp(document.getElementById('div1'))">
                <div id="div1" style="display: none;" th:text = "${numberValue}"></div>
            </div>
            <div>
                <form id="newGame" th:action="@{/newGame}" method="post">
                    <button type="submit"  class="btn btn-info">New game</button>
                </form>
            </div>
            <div>
                <form id="userNumber" th:action="@{/index}" method="post">
                    <div class="form-group">
                        <label for="number" class="control-label">Enter your number</label>
                        <input id="number" class="form-control"/>
                    </div>
                    <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td>Nickname</td>
                    <td>Average number of attempts</td>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${results.empty}">
                    <td colspan="4">No results</td>
                </tr>
                <tr th:each="result : ${results}">
                    <td th:text="${result.username}"></td>
                    <td th:text="${result.attempts}"></td>
                </tr>
                </tbody>
            </table>
            <h3>Your attempts:</h3>
            <div>
                <ol>
                </ol>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{js/gameScript.js}"></script>
<script th:src="@{js/keypadScript.js}"></script>
<script type="text/javascript">
	var simpleKeyPad = new keypad("userNumber", "number");
</script>
</body>
</html>